<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}KittyLand{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Google font pour rendu plus joli (optionnel) #}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    {# CSS global #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>

    {# contenu des pages #}
    {% block body %}{% endblock %}

</body>
</html>